
<ion-content>
<div class="page-wraper">

    <!-- Page Content -->
    <div class="page-content bottom-content ">
        <div class="container profile-area">
            <div class="profile">
                <div class="media media-100">
                    <img src="assets/images/message/pic6.jpg" alt="/">
                    <svg class="progress-style" height="100" width="100">
                        <circle id="round-1" cx="60" cy="60" r="50" stroke="#E8EFF3" stroke-width="7" fill="none" />
                        <circle id="round-2" cx="60" cy="60" r="50" stroke="#C3AC58" stroke-width="7" fill="none" />
                    </svg>
                </div>
                <div class="mb-2">
                    <h4 class="title">James Hawkins</h4>
                    <h6 class="detail">GOLD MEMBER</h6>
                    <a href="" class="edit m-1">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <a href="" class="edit m-1">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>
            </div>    
            <div class="contact-section">
                <div class="d-flex justify-content-between align-item-center">
                    <h5 class="title">Contacts</h5>
                </div>
                <ul>
                    <li>
						<a href="messages.html">
							<div class="icon-box">
								<i class="fa-solid fa-phone"></i>
							</div> 
							<div class="ms-3">
								<div class="light-text">Mobile Phone</div>
								<p class="mb-0">+12 345 678 92</p>
							</div>
						</a>
					</li>
					<li>
						<a href="messages.html">
							<div class="icon-box">
								<i class="fa-solid fa-envelope"></i>
							</div> 
							<div class="ms-3">
								<div class="light-text">Email Address</div>
								<p class="mb-0">jameshawkins@mail.com</p>
							</div>
						</a>
					</li>
					<li>
						<a href="messages.html">
							<div class="icon-box">
								<i class="fa-solid fa-location-dot"></i>
							</div> 
							<div class="ms-3">
								<div class="light-text">Address</div>
								<p class="mb-0">Franklin Avenue, Corner St.London, 24125151</p>
							</div>
						</a>
					</li>
				</ul>

                <div class="d-flex justify-content-between align-item-center">
                    <h5 class="title">Your Reward 🏆</h5>
                    <a href="javascript:void(0);" class="btn-link">History</a>
                </div>
                <!-- home.page.html -->
                
                <div class="container-fluid mt-4 ">
                    <div class="offer-bx">
                        <div class="offer-content">
                            <h6>Order 10 packs French Fries Deluxe</h6>
                            <small>4 days ago</small>
                        </div>
                        <div class="point">
                            <h5 class="title">150</h5>
                            <small class="d-block">Pts</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

                <div class="d-flex justify-content-between align-item-center">
                    <h5 class="title">Your Reward 🏆</h5>
                    <a href="javascript:void(0);" class="btn-link">History</a>
                </div>
                <!-- home.page.html -->
                
                <div class="container-fluid mt-4 ">
                    <div class="offer-bx">
                        <div class="offer-content">
                            <h6>Order 10 packs French Fries Deluxe</h6>
                            <small>4 days ago</small>
                        </div>
                        <div class="point">
                            <h5 class="title">150</h5>
                            <small class="d-block">Pts</small>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mt-4 ">
                    <div class="offer-bx">
                        <div class="offer-content">
                            <h6>Order 10 packs French Fries Deluxe</h6>
                            <small>4 days ago</small>
                        </div>
                        <div class="point">
                            <h5 class="title">150</h5>
                            <small class="d-block">Pts</small>
                        </div>
                    </div>
                </div>
            </div>
 
    
    <!-- Page Content End-->
            <!-- Menubar -->
            <div class="menubar-area">
                <div class="toolbar-inner menubar-nav">
                    <a href="/tabs/tab3" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#bfc9da" xmlns:v="https://vecta.io/nano"><path d="M12 1a7.5 7.5 0 0 0-7.5 7.5v5.85l-1.66 2.5A2.04 2.04 0 0 0 4.535 20h14.93a2.04 2.04 0 0 0 1.695-3.165L19.5 14.35V8.5A7.5 7.5 0 0 0 12 1zm0 22a3 3 0 0 0 2.825-2h-5.65A3 3 0 0 0 12 23z"/></svg>
                    </a>
                    <a href="/tabs/tab1" class="nav-link active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" xmlns:v="https://vecta.io/nano"><path d="M21.44 11.035a.75.75 0 0 1-.69.465H18.5V19a2.25 2.25 0 0 1-2.25 2.25h-3a.75.75 0 0 1-.75-.75V16a.75.75 0 0 0-.75-.75h-1.5a.75.75 0 0 0-.75.75v4.5a.75.75 0 0 1-.75.75h-3A2.25 2.25 0 0 1 3.5 19v-7.5H1.25a.75.75 0 0 1-.69-.465.75.75 0 0 1 .158-.818l9.75-9.75A.75.75 0 0 1 11 .246a.75.75 0 0 1 .533.222l9.75 9.75a.75.75 0 0 1 .158.818z" fill="#bfc9da"/></svg>
                    </a>
                    <a href="/tabs/tab2" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#bfc9da" xmlns:v="https://vecta.io/nano"><path d="M15 15.75a.75.75 0 1 0 0-1.5.75.75 0 1 0 0 1.5zm-6-6a.75.75 0 1 0 0-1.5.75.75 0 1 0 0 1.5zm13.5 0a.75.75 0 0 0 .75-.75V4.5a.75.75 0 0 0-.75-.75h-21a.75.75 0 0 0-.75.75V9a.75.75 0 0 0 .75.75c1.241 0 2.25 1.009 2.25 2.25s-1.01 2.25-2.25 2.25a.75.75 0 0 0-.75.75v4.5a.75.75 0 0 0 .75.75h21a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75c-1.241 0-2.25-1.009-2.25-2.25s1.009-2.25 2.25-2.25zM6.75 9c0-1.24 1.01-2.25 2.25-2.25S11.25 7.76 11.25 9 10.241 11.25 9 11.25 6.75 10.241 6.75 9zM9 15.75a.75.75 0 0 1-.53-1.28l6-6a.75.75 0 0 1 1.06 1.06l-6 6a.75.75 0 0 1-.53.22zm6 1.5c-1.241 0-2.25-1.009-2.25-2.25s1.009-2.25 2.25-2.25 2.25 1.009 2.25 2.25-1.009 2.25-2.25 2.25z"/></svg>
                    </a>
                    <a href="/tab4" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" fill="#bfc9da" xmlns:v="https://vecta.io/nano"><path d="M8 7.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 1 0 0 7.5zm7.5 9v1.5c-.002.199-.079.39-.217.532C13.61 20.455 8.57 20.5 8 20.5s-5.61-.045-7.282-1.718C.579 18.64.501 18.449.5 18.25v-1.5a7.5 7.5 0 1 1 15 0z"/></svg>
                    </a>
                </div>
            </div>
            <!-- Menubar -->
    <!-- Theme Color Settings -->
	<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom">
        <div class="offcanvas-body small">
            <ul class="theme-color-settings">
                <li>
                    <input class="filled-in" id="primary_color_8" name="theme_color" type="radio" value="color-primary" />
					<label for="primary_color_8"></label>
                    <span>Default</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_2" name="theme_color" type="radio" value="color-green" />
					<label for="primary_color_2"></label>
                    <span>Green</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_3" name="theme_color" type="radio" value="color-blue" />
					<label for="primary_color_3"></label>
                    <span>Blue</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_4" name="theme_color" type="radio" value="color-pink" />
					<label for="primary_color_4"></label>
                    <span>Pink</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_5" name="theme_color" type="radio" value="color-yellow" />
					<label for="primary_color_5"></label>
                    <span>Yellow</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_6" name="theme_color" type="radio" value="color-orange" />
					<label for="primary_color_6"></label>
                    <span>Orange</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_7" name="theme_color" type="radio" value="color-purple" />
					<label for="primary_color_7"></label>
                    <span>Purple</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_1" name="theme_color" type="radio" value="color-red" />
					<label for="primary_color_1"></label>
                    <span>Red</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_9" name="theme_color" type="radio" value="color-lightblue" />
					<label for="primary_color_9"></label>
                    <span>Lightblue</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_10" name="theme_color" type="radio" value="color-teal" />
					<label for="primary_color_10"></label>
                    <span>Teal</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_11" name="theme_color" type="radio" value="color-lime" />
					<label for="primary_color_11"></label>
                    <span>Lime</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_12" name="theme_color" type="radio" value="color-deeporange" />
					<label for="primary_color_12"></label>
                    <span>Deeporange</span>
                </li>
            </ul>
        </div>
    </div>
	<!-- Theme Color Settings End -->
</ion-content>
