

<ion-content>
  <div class="page-wraper">
    

	<!-- Header -->
    <header class="header">
        <div class="main-bar">
            <div class="container">
                <div class="header-content">
                    <div class="left-content">
                        <a href="javascript:void(0);" class="back-btn">
<i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </div>
                        <h5 class="mb-0 ms-2 text-nowrap">Track Order</h5>
                    <div class="mid-content">
                    </div>
                    <div class="right-content">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
	
    
    <!-- Page Content -->
	<div class="page-content">
		<div class="container bottom-content">
            <div class="location-area">
				<div class="d-flex align-items-center">
					<a href="javascript:void(0);" class="location-mark">
						<i class="fa-solid fa-location-dot"></i>
					</a>
					<div class="ms-3">
						<h6 class="title">Delhi/India</h6>
						<span class="font-14 font-w600">3252 Shakti Nagar</span>
					</div>
				</div>
				<div class="text-end">
					<div class="d-flex align-items-center">
						<i class="me-2 fa-solid fa-clock"></i>
						<small class="font-w600">Arrive time</small>					
					</div>
					<span class="font-w900 font-14 text-dark d-block">15-20 min</span>
				</div>
			</div>
			<a href="tracking-order.html" class="short-map">
				<div class="zone">
					<p class="mb-0 text-dark">Estimated Time</p>
					<div class="time">5-10 min</div>
				</div>
				<img src="assets/images/map2.png" alt="">
			</a>
			<div class="order-status">
				<h6 class="title">Order Status</h6>
				<ul class="dz-timeline style-2">
					<li class="timeline-item active">
						<h6 class="timeline-tilte">Delivered</h6>
						<p class="timeline-date">Aug 8,2022-12:20pm</p>
					</li>
					<li class="timeline-item process">
						<h6 class="timeline-tilte">Order Recived</h6>
						<p class="timeline-date">Aug 8,2022-12:20pm</p>
					</li>
					<li class="timeline-item">
						<h6 class="timeline-tilte">Order Confirmed</h6>
						<p class="timeline-date">Aug 8,2022-12:20pm</p>
					</li>
					<li class="timeline-item">
						<h6 class="timeline-tilte">Order Processed</h6>
						<p class="timeline-date">Aug 8,2022-12:20pm</p>
					</li>
					<li class="timeline-item">
						<h6 class="timeline-tilte">Order Delivered</h6>
						<p class="timeline-date">Aug 8,2022-12:20pm</p>
					</li>
				</ul>		
			</div>
			<div class="footer fixed ">
				<div class="container">
					<div class="footer-btn d-flex align-items-center">
						<a href="order-list.html" class="btn btn-primary btn-block">CONFIRM DELIVERY</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Page Content End-->
	
    <!-- Theme Color Settings -->
	<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom">
        <div class="offcanvas-body small">
            <ul class="theme-color-settings">
                <li>
                    <input class="filled-in" id="primary_color_8" name="theme_color" type="radio" value="color-primary" />
					<label for="primary_color_8"></label>
                    <span>Default</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_2" name="theme_color" type="radio" value="color-green" />
					<label for="primary_color_2"></label>
                    <span>Green</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_3" name="theme_color" type="radio" value="color-blue" />
					<label for="primary_color_3"></label>
                    <span>Blue</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_4" name="theme_color" type="radio" value="color-pink" />
					<label for="primary_color_4"></label>
                    <span>Pink</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_5" name="theme_color" type="radio" value="color-yellow" />
					<label for="primary_color_5"></label>
                    <span>Yellow</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_6" name="theme_color" type="radio" value="color-orange" />
					<label for="primary_color_6"></label>
                    <span>Orange</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_7" name="theme_color" type="radio" value="color-purple" />
					<label for="primary_color_7"></label>
                    <span>Purple</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_1" name="theme_color" type="radio" value="color-red" />
					<label for="primary_color_1"></label>
                    <span>Red</span>
                </li>
                <li>
					<input class="filled-in" id="primary_color_9" name="theme_color" type="radio" value="color-lightblue" />
					<label for="primary_color_9"></label>
                    <span>Lightblue</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_10" name="theme_color" type="radio" value="color-teal" />
					<label for="primary_color_10"></label>
                    <span>Teal</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_11" name="theme_color" type="radio" value="color-lime" />
					<label for="primary_color_11"></label>
                    <span>Lime</span>
                </li>
                <li>
                    <input class="filled-in" id="primary_color_12" name="theme_color" type="radio" value="color-deeporange" />
					<label for="primary_color_12"></label>
                    <span>Deeporange</span>
                </li>
            </ul>
        </div>
    </div>
	<!-- Theme Color Settings End -->
</div>
</ion-content>
