
<ion-content>
        <!-- Page Content -->
        <div class="page-content">
            
          <!-- Banner -->
          <div class="banner-wrapper">
              <div class="circle-1"></div>
              <div class="container inner-wrapper">
                  <h1 class="dz-title">Cleaning</h1>
                  <p class="mb-0">Clean App</p>
              </div>
          </div>
          <!-- Banner End -->
          <div class="account-box">
              <div class="container">
                  <div class="account-area">
                      <h3 class="title">Forgot Password</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                      <form>
                          <div class="input-group input-mini mb-3">
                              <span class="input-group-text"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" placeholder="Name">
                          </div>
                          <div class="input-group">
                              <a href="index.html" class="btn mt-2 btn-primary w-100 btn-rounded">Send</a>
                          </div>

                      </form>  
                      <div class="text-center mb-auto p-tb20">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Page Content End -->
      
      <!-- Footer -->
</ion-content>
