
<ion-content>

    <!-- Welcome Start -->
    <div class="content-body">
      <div class="container vh-100">
        <div class="welcome-area">
          <div class="welcome-logo">
            <img src="assets/images/logo.svg">
            <div class="get-started">
              <h1 class="dz-title">Cleanig</h1>
            </div>
          </div>
          <div class="join-area">
            <div class="started">
              <h2>Continue as</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <a href="/login" class="welcome-box h-auto">
              <div class="d-flex align-items-center">
                <img src="assets/images/welcome/man.png" alt="">
                <div class="ms-2">
                  <h5>CUSTOMER</h5>
                  <p>Finding cleaners here easier.</p>
                </div>
              </div>
            </a>
            <a href="/login" class="welcome-box h-auto">
              <div class="d-flex align-items-center">
                <img src="assets/images/welcome/waiter.png" alt="">
                <div class="ms-2">
                  <h5>Cleaners</h5>
                  <p>Great cleaners faster here.</p>
                </div>
              </div>    
            </a>
          </div>
        </div>
      </div>
    </div>
      <!-- Welcome End -->
    
</ion-content>
