<ion-content>

  <!-- Header -->
  <header class="header">
    <div class="main-bar">
      <div class="container">
        <div class="header-content">
          <div class="left-content">
            <a href="javascript:void(0);" class="back-btn">
              <i class="fa-solid fa-chevron-left"></i>
            </a>
            <h5 class=" text-nowrap">Add Address</h5>
          </div>
          <div class="mid-content">
          </div>
          <div class="right-content">
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <div class="page-content">
    <div class="container fb">
      <!-- row -->
      <div class="row">
        <div class="col-12">
          <div class="accordion-body">
            <small class="font-w600 mb-2">Choose Plase</small>
            <div class="col-12 p-2">
              <button type="button" class="dz-modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add Card +</button>
              <div class="col-12 modal fade" id="exampleModalCenter">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                      <h5 class="modal-title">ADD Plase</h5>
                      <button class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form">
                        <div class="form-item">
                          <label class="form-label" for="username">Plase holder Name</label>
                          <input type="text" class="form-control" id="username" autocomplete="off" required>
                        </div>
                        <div class="form-item">
                          <label class="form-label" for="Number">Card Number</label>
                          <input type="number" class="form-control" id="Number" autocomplete="off" placeholder="**** **** **** ****" required>
                        </div>
                        <div class="d-flex align-items-center">		
                          <div class="form-item me-2">
                            <label class="form-label" for="Number">Expiry Date</label>
                            <input type="text" class="form-control" id="Number" autocomplete="off" placeholder="MM / YY" required>
                          </div>
                          <div class="form-item">
                            <label class="form-label" for="Number">Security Code</label>
                            <input type="password" class="form-control" id="Number" autocomplete="off" placeholder="..." required>
                          </div>
                        </div>	
                      </div>
                      <a href="javascript:void(0);" class="btn btn-primary d-block" data-bs-dismiss="modal">Added</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Card Select -->
            <div class="d-flex align-items-center mb-3">

              <!-- Card Select -->
              <div class="short-tag style-3" role="group" aria-label="radio toggle button">
                <div class="col-4 clearfix">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked="">
                  <label class="btn tag-btn" for="btnradio1">
                    <img src="assets/img/blog/blog-3-2.jpg" alt="">
                  </label>
                </div>

                <div class="col-4 clearfix">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                  <label class="btn tag-btn" for="btnradio2">
                    <img src="assets/img/blog/blog-3-3.jpg" alt="">
                  </label>
                </div>
                
                <div class="col-4 clearfix">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                  <label class="btn tag-btn" for="btnradio3">
                    <img src="assets/img/blog/blog-3-4.jpg" alt="">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Minimalist Fields</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3 input-group input-mini">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" placeholder="Street">
                </div>
                <div class="mb-3 input-group input-mini">
                  <span class="input-group-text"><i class="fa fa-at"></i></span>
                  <input type="email" class="form-control" placeholder="City">
                </div>
                <div class="mb-3 input-group input-mini">
                  <span class="input-group-text"><i class="fa-brands fa-chrome"></i></span>
                  <select class="form-control" placeholder="State">
                    <option selected>Selecte</option>
                    <option value="Active">Active</option>
                    <option value="Stoped">Stoped</option>
                  </select>
                </div>
                <div class="mb-3 input-group input-mini">
                  <span class="input-group-text"><i class="fa-brands fa-chrome"></i></span>
                  <select class="form-control" placeholder="State">
                    <option selected>Country</option>
                    <option value="Active">Active</option>
                    <option value="Stoped">Stoped</option>
                  </select>
                </div>
                <div class="mb-3 input-group input-mini">
                  <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                  <input type="number" class="form-control" placeholder="Zip Code">
                </div>
                <div>
                  <a href="javascript:void(0);" class="btn btn-primary mt-3  btn-block">Add Address</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>