
<ion-content>

	<!-- Header -->
    <header class="header">
        <div class="main-bar">
            <div class="container">
                <div class="header-content">
                    <div class="left-content">
                        <a href="javascript:void(0);" class="back-btn">
<i class="fa-solid fa-chevron-left"></i>
                        </a>
						<h5 class="mb-0 ms-2 text-nowrap">Timeline</h5>
                    </div>
                    <div class="mid-content">
                    </div>
                    <div class="right-content">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
	
    
    
    <div class="page-content">
        <div class="container fb ">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-dark pt-5 pb-5">
                        <div class="card-header d-block">
                                <h5 class="card-title text-white fw-bold">Clean Process</h5>
                        </div>
                        <div class="card-body " >
                            <h6 class="text-white">Photoshop
                                <span class="pull-end ">85%</span>
                            </h6>
                            <div class="progress text-white">
                                <div class="progress-bar bg-danger progress-animated border-0" style="width: 85%;" role="progressbar">
                                    <span class="sr-only text-white">60% Complete</span>
                                </div>
                            </div>
                            <h6 class="mt-4 text-white">Code editor
                                <span class="pull-end">90%</span>
                            </h6>
                            <div class="progress">
                                <div class="progress-bar bg-info progress-animated border-0" style="width: 90%;" role="progressbar">
                                    <span class="sr-only text-white">60% Complete</span>
                                </div>
                            </div>
                            <h6 class="mt-4 text-white">Illustrator
                                <span class="pull-end text-white">65%</span>
                            </h6>
                            <div class="progress">
                                <div class="progress-bar bg-success progress-animated border-0" style="width: 65%;" role="progressbar">
                                    <span class="sr-only text-white">60% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center mt-4 ">
                            <button type="button" class="btn  btn-primary ">Refresh</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="title">Default Timeline</h5>
                    <ul class="dz-timeline">
                        <li class="timeline-item">
                            <p class="timeline-date">11 March 2020</p>
                            <h5 class="timeline-tilte">Some text goes here</h5>
                            <p class="timeline-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                necessitatibus adipisci.
                            </p>
                        </li>
                        <li class="timeline-item">
                            <p class="timeline-date">11 March 2020</p>
                            <h5 class="timeline-tilte">Some text goes here</h5>
                            <p class="timeline-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                necessitatibus adipisci.
                            </p>
                        </li>
                        <li class="timeline-item">
                            <p class="timeline-date">11 March 2020</p>
                            <h5 class="timeline-tilte">Some text goes here</h5>
                            <p class="timeline-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                necessitatibus adipisci.
                            </p>
                        </li>
                        <li class="timeline-item">
                            <p class="timeline-date">11 March 2020</p>
                            <h5 class="timeline-tilte">Some text goes here</h5>
                            <p class="timeline-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                necessitatibus adipisci.
                            </p>
                        </li>
                        <li class="timeline-item">
                            <p class="timeline-date">11 March 2020</p>
                            <h5 class="timeline-tilte">Some text goes here</h5>
                            <p class="timeline-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                                necessitatibus adipisci.
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>   
    </div>
	
</ion-content>
